.btn {
  font-size: 20px;
  color: #fff;
  width: 100%;
  line-height: 1.1;
  font-weight: 500;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 15px 45px;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(225deg, #FF2C2C, #FF903E);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity linear 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.btn:hover::before {
  opacity: 0.2;
}

.btn span {
  position: relative;
  z-index: 2;
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  background-image: none;
  color: #666666;
  cursor: auto;
  border: none;
}

button:disabled:hover::before {
  opacity: 0;
}